@media (max-width: 768px) {
    .form-inline .form-control {
        display: block;
        width: 100%;
    }
}

.modal-backdrop {
    z-index: 900 !important;

}

.modal {
    z-index: 910 !important;
}

button[aria-label="Add a minute"],
button[aria-label="Minus a minute"] {
    display: none;
}

.owl-dt-control-button.owl-dt-timer-hour12-box {
    pointer-events: none;
    cursor: not-allowed;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}

.dropdown-header {
    color: #525f7f !important;
}