<footer class="section section-lg">
    <div class="container pb-4">
        <div class="row custom-row">
            <div class="col-lg-3 col-md-6 col-sm-12 py-5">
                <h3 class="title text-dark custom-txt">Reservation</h3>
                <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/reservations']" class="text-underline text-dark custom-txt card-link my-2">
                    Reserve Now
                </a> <br>
                <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/check-status']" class="text-underline text-dark custom-txt card-link my-2">
                    Check Your Reservation
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 py-5">
                <h3 class="title text-dark custom-txt">Our Company</h3>
                <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/about-us']" class="text-underline text-dark custom-txt card-link my-2">
                    About Us
                </a> <br>
                <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/contact-us']" class="text-underline text-dark custom-txt card-link my-2">
                    Contact Us
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 py-5">
                <h3 class="title text-dark custom-txt">What We offer</h3>
                <a routerLinkActive="active" href="javascript:void(0)" [routerLink]="['/rates-and-amenities']" class="text-underline text-dark custom-txt card-link my-2">
                    Rates and Amenities
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 py-5">
                <h3 class="title text-dark custom-txt">Visit Our Page</h3>
                <a href="https://www.facebook.com/MontalbanWaterpark" target="_blank" class="text-underline text-dark custom-txt card-link my-2">
                    Facebook Page
                </a> <br>
            </div>
            
            <div class="col-lg-12">
                <div class="custom-separator">
                    <p class="text-dark text-center mt-5 custom-txt">
                        
                        Copyright © 2020 Montalban Waterpark and Garden Resort
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
