<app-client-navbar></app-client-navbar>
<div class="page-header">
    <div class="page-header-image bg-404"></div>
    <div class="container pt-5">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h1 class="custom-txt display-1 text-dark">Oops, Page not found!</h1>
                <p class="custom-txt lead text-dark"> 
                    We can't seem to find the page you're looking for. It's <br>
                    either the page has been removed or it doesn't exist.
                </p>
                <a routerLinkActive="active" [routerLink]="['']" class="btn btn-info btn-lg btn-responsive-2 mt-2">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Go back to home page
                  </a>
            </div>
        </div>
    </div> 
</div>
