<app-client-navbar></app-client-navbar>
<div class="page-header">
    <div class="container custom-box">
        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12 bg-img">
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 pt-150 my-5">
                <h1 class="display-2 custom-txt text-dark">
                    It's More Fun in Montalban
                </h1>
                <p class="custom-txt text-dark">
                    Montalban Waterpark Garden and Resort was founded at 2013.
                    We are here for your complete relaxation and enjoyment. We Believe that water 
                    fun  is not only during summer  but all troughout the year!
                </p>
                <p class="custom-txt text-dark">
                    We are your place of choice for your swimming spree. We have in the compound a 
                    convenience store, an events venue, rooms to stay/sleep in and restaurant for 
                    your cravings. Kambingan is in and we have then in our menu, available for take-out 
                    or dine-in.
                </p>
            </div>
        </div>
    </div>
</div>
